input {
	width: 3em;
}

body {
	background-image: url("/Images/fun.jpeg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.banner {
	width: 100%;
	max-height: 200px;
}

.left-container {
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	background-color: rgba(230, 242, 255, .2);
}

.right-container {
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	background-color: rgba(230, 242, 255, .2);
}


/*.front-container {
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	background-color: rgba(255, 255, 255, .2);
}*/

/*.rear-container {
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	background-color: rgba(255, 255, 255, .2);
}*/

.gears {
	display: block;
	position: relative;
}

.pointer-on-hover {
	cursor: pointer;
}

.gear {
	display: inline-block;
	height: 50px;
	width: 12px;
	margin: 5px;
	background-color: grey;
	font-size: .8em;
	margin-left: 1px;
	margin-right: 1px;
	vertical-align: middle;
}

 .gear-selection-form {
	background-color: rgba(128, 199, 255, .4);
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 5px !important;
}

.highlight-radio-label {
	margin-left: 3px;
	margin-right: 3px;
}

.label {
	background-color: rgba(0, 51, 77, .7);
	text-align: center;
}

.ratio-button-label {
	margin-left: 3px;
	margin-right: 3px;
}

.ratio-chart {
	background-color: rgba(128, 199, 255, .4);
	padding: 5px;
	border-radius: 5px;
	margin: 5px 0 5px 0;
}

.sharedRatio {
	background-color: green;
}

.selectedGear {
	background-color: green;
}

.similar-ratio {
	background-color: blue;
}

.similar-ratio1 {
	background-color: yellow;
}

.similar-ratio2 {
	background-color: yellow;
	opacity: .8;
}

.similar-ratio3 {
	background-color: yellow;
	opacity: .6;
}

.similar-ratio4 {
	background-color: yellow;
	opacity: .4;
}

.similar-ratio5 {
	background-color: yellow;
	opacity: .3;
}

/*.tire {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	width: 10px;
	height: 200px;
	background-color: black;
}*/

/*.tire-container {
	position: absolute;
	right: 20%;
	bottom: 40%;
}*/

/*.tire-form {
	background-color: blue;
}*/