input {
	width: 3em;
}

body {
	background-image: url("/Images/fun.jpeg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.banner {
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: 'Black Ops One', cursive;
	padding: 0;
	color: rgba(20, 20, 20, 1);
	text-align: center;
	background-color: rgba(0, 0, 0, .2);
}

.left-container {
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	background-color: rgba(230, 242, 255, .2);
}

.right-container {
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	background-color: rgba(230, 242, 255, .2);
}

.gears {
	display: block;
	position: relative;
	min-height: 160px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	clear: both;
}

.pointer-on-hover {
	cursor: pointer;
}

.gear {
	display: inline-block;
	height: 50px;
	width: 14px;
	margin: 3px;
	font-size: .8em;
	vertical-align: middle;
	border: 1px solid rgba(20, 20, 20, 1);
	background: radial-gradient(circle at 50% 50%, rgba(20, 20, 20, .6), rgba(242, 242, 242, .9));
	border-radius: 3px;
}

.gear-selection-form {
	background-color: rgba(128, 199, 255, .4);
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 5px !important;
}

.highlight-radio-label {
	margin-left: 3px;
	margin-right: 3px;
}

.instructions-text {
	font-family: Droid Sans, sans-serif;
	color: rgba(0, 0, 0, 1);
	margin-left: 5%;
	margin-right: 5%;
	background-color: rgba(153, 153, 153, .9);
	border-color: rgba(0, 0, 0, .8);
}

.instructions-btn {
	font-family: Droid Sans, sans-serif;
	color: rgba(0, 0, 0, .8);
	background-color: rgba(153, 153, 153, .6);
	border-color: rgba(0, 0, 0, .8);
}

.instructions-btn:hover, instructions-btn:active, instructions-btn:focus {
	color: rgba(0, 0, 0, 1);
	background-color: rgba(153, 153, 153, 1);
	border-color: rgba(0, 0, 0, 1);
}



.label {
	background-color: rgba(0, 51, 77, .7);
	text-align: center;
	font-family: Droid Sans, sans-serif;
}

.ratio-button-label {
	margin-left: 3px;
	margin-right: 3px;
}

.ratio-chart {
	min-height: 229px;
	background-color: rgba(128, 199, 255, .4);
	padding: 5px;
	border-radius: 5px;
	margin: 5px 0 5px 0;
}

.shared-ratio {
	background-color: rgba(0, 145, 255, .7);
}

.selectedGear {
	background: rgba(4, 193, 50, 1);
	color: black;
}

.selected-ratio {
	background-color: rgba(4, 193, 50, 1);
}

.similar-ratio1 {
	background: rgba(93, 255, 60, 1);
	color: black;
}

.similar-ratio2 {
	background: yellow;
	color: black;
}

.similar-ratio3 {
	background: rgba(128, 50, 123, 1);
	color: black;
}

.similar-ratio4 {
	background: orange;
	color: black;
}

.similar-ratio5 {
	background: red;
	color: black;
}

